us
@{
    Layout = null;
    string NameOfIndex = "ViewDemo";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @ViewBag.MyData
    </div>
    <ul>
        <li>@(NameOfIndex) .asdas</li>
    </ul>
</body>
</html>
