@using HuangLiang.ASP.MVC.Models
@model IEnumerable<Menu>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PassingAModel</title>
</head>
<body>
    <div>
        <ul>
            @foreach (var menu in Model)
        {
            <li>@menu.Id+"      " + @menu.Price</li>

        }
        </ul>
    </div>
</body>
</html>
